html, body {
    height:100%;
    margin:0;
}
body {
    position: relative;
    background-image: url("http://payload369.cargocollective.com/1/8/271630/9690022/redpandpa72dpi_567.jpg"); 
}
footer {
    position: absolute;
    display: block;
    background-color: #A34747;
    text-align: center;
    width: 100%;
    bottom:0;
}
a {
    color: #FF9980;
    text-decoration: none;
}
a:hover {
    color:gold;
    text-decoration: underline;
}

p,h1 {
    color:#FF9980;
}

h1 {
    font-size: 32px;
}

.main-content {
    font-family: fantasy, sans-serif;
    max-width: 1200px;
    width:100%;
    margin:0 auto;
}

.top {
    margin: 0 auto;
    width: 45%;   
    border-radius: 0 0 10px 10px;
    border: 20px solid maroon;
    border-top: 0;
    background-color: #A34747;
    text-align: center;
    padding: 10px;
}
.top img {
    width:80%
}

.buffalo {
    color: orange; 
    font-family: fantasy; 
    font-size: 20px;
}

#email:hover {
    color: #FF9980;
    text-decoration: none;
}
