body {
    background-image: url("http://payload369.cargocollective.com/1/8/271630/9690022/redpandpa72dpi_567.jpg");
}
div {
    background-color: #A34747;
    margin: auto;
    float: inherit;
    text-align: center;
}
img {
    width:80%
}
a {
    color: #FF9980;
    text-decoration: none;
}
.top {
    margin-top: -30px;
    padding-top: 10px;
    height: 45%;
    width: 45%;   
    border-radius: 10px;
    border: solid 20px maroon;
}
.footer {
    width: 100%;
    margin-top: 20%;
}
a:hover {
    color:gold;
    text-decoration: underline;
}
p {
    color:#FF9980;
}
